{% extends 'website/base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Рассылка: {{ object.name|title }}</h1>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Письмо: {{ object.letter }}</li>
                    <li>Время рассылки: {{ object.sending_time|time:"H:i" }}</li>
                    <li>Период: {{ object.period }}</li>
                    <li>Время начала: {{ object.start_datetime|date:"d/m/Y, H:i" }}</li>
                    <li>Время конца: {{ object.end_datetime|date:"d/m/Y, H:i" }}</li>
                    <li>Клиенты: {% for client in object.client_emails.all %} {{ client.email }}</li> {% endfor %}
                </ul>

                <div class="mb-3">
                    <a href="{% url 'mailing:update_mailing' object.pk %}" class="w-100 btn btn-lg btn-outline-primary">Редактировать</a>
                </div>
                <div class="mb-3">
                    <a href="{% url 'mailing:delete_mailing' object.pk %}" class="w-100 btn btn-lg btn-outline-primary">Удалить</a>
                </div>
                <div class="mb-3">
                    <a href="{% url 'mailing:mailing_page' %}" class="w-100 btn btn-lg btn-outline-primary">Обратно</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}