{% extends 'website/base.html' %}

{% block content %}

<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for object in object_list %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-2 text-white bg-primary border-primary">
                    <h6 class="my-0 fw-normal text text-truncate">{{ object|capfirst }}</h6>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Дата создания: {{ object.created_at|date:"d/m/Y" }}</li>
                        <li>Владелец: {{ object.owner }}</li>
                    </ul>
                    <a href="{% url 'letters:view_letter' object.pk %}" class="w-120 btn btn-lg btn-outline-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if not user.is_staff %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-2 text-white bg-primary border-primary">
                    <h6 class="my-0 fw-normal text text-truncate">Новое письмо</h6>
                </div>
                <div class="card-body">
                    <a href="{% url 'letters:add_letter' %}" class="w-120 btn btn-lg btn-outline-primary">Добавить</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</main>

{% endblock %}