{% extends 'website/base.html' %}

{% block content %}

<div class="col-12">
    <form class="row" method="post" action="" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Верификация</h4>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="auth_token">Ключ</label>
                        <input type="text" name="auth_token" class="form-control" id="auth_token" placeholder="Ключ"
                               required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Отправить</button>
                    </div>
                    <div class="mb-3">
                        <a href="{% url 'website:homepage' %}" class="w-100 btn btn-lg btn-outline-primary">Обратно</a>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
{% endblock %}