{% extends 'website/base.html' %}

{% block content %}

<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for object in object_list %}
        <div class="col">
            <div class="card mb-2 rounded-3 shadow-sm border-primary">
                <div class="card-header py-2 text-white bg-primary border-primary">
                    <h6 class="my-0 fw-normal text text-truncate">{{ object.name|title }}</h6>
                </div>
                <div class="card-body">
                    <h6 class="card-title pricing-card-title">{{ object.email }}</h6>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{ object.created_at|date:"d/m/Y" }}</li>
                    </ul>
                    <a href="{% url 'clients:view_client' object.pk %}" class="w-120 btn btn-lg btn-outline-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-2 text-white bg-primary border-primary">
                    <h6 class="my-0 fw-normal text text-truncate">Новый клиент</h6>
                </div>
                <div class="card-body">
                    <a href="{% url 'clients:add_client' %}" class="w-120 btn btn-lg btn-outline-primary">Добавить</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}